<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Persons List</h2>
    <input type="text">
    <ul>
        
        {% for p in persons %}
            <li>{{ p }}</li>
        {% endfor %}
            
    </ul>
</body>
</html>